@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="@Url.Action("Login", "Home")" class="btn btn-primary">Login</a>
</p>


    <div class="btn-group" role="group" aria-label="Ações">
        <a href="@Url.Action("Index", "Produto")" class="btn btn-info">Ver Lista de Produtos</a>
        <a href="@Url.Action("Index", "Empresa")" class="btn btn-info">Ver Lista de Empresas</a>
        <a href="@Url.Action("Index", "Cliente")" class="btn btn-info">Ver Lista de Clientes</a>
    </div>

